AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
AWS_DEFAULT_REGION=ca-central-1
REDSHIFT_HOST=your-workgroup.region.redshift-serverless.amazonaws.com
REDSHIFT_DB=dev
REDSHIFT_USER=admin
REDSHIFT_PASSWORD=your_password_here
REDSHIFT_PORT=5439
EC2_PUBLIC_IP=your-ec2-ip
AIRFLOW_ADMIN_PASSWORD=your_airflow_password